/* skip navigation link, only visible when it's focused; */
a.skip
{
    position: absolute;
    left: -999em;
    z-index: 10000;
    color: White !important;
    padding-top: 15px;
}
a.skip:focus, a.skip:active
{
    left: 45%;
}
a.dropdown-toggle:focus
{
    background-color: none !important;
}
a.dropdown-toggle:hover
{
    background-color: none !important;
}
/* skip navigation link, only visible when it's focused; */
.header
{
    height: auto;
    background-color: #0F7BBB;
}
.form-group
{
    margin-bottom: 15px;
}
.searchBackground
{
    padding-top: 30px;
}
.searchCenter
{
    margin-left: 110px !important;
}
.searchCenterMobile
{
    margin-left: 15px !important;
}
@media (max-width: 360px)
{
    .searchCenterMobile
    {
        margin-left: 0px !important;
    }
}
.searchBackgroundImage
{
    background-image: url("/Images/BIP_Books_Large_Bkgd_06.jpg");
    height: 110px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
#mask3
{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    opacity: 0.4;
    background-color: #E6E5E1;
    display: none;
}

.logoSection
{
    margin-left: -20px;
}
.logoHeader
{
    font-family: Times New Roman, Times, serif;
    font-size: 25px;
    color: white !important;
}

.headerTabs
{
    font-weight: bold;
    color: #787878 !important;
}
.header .userSection
{
    color: white !important;
    margin-right: 15px !important;
    margin-top: 5px;
    font-size: 14px;
}
.defaultBackGround
{
    border-color: #EEEEEE !important;
    background-color: #EEEEEE !important;
}

.siteNav
{
    font-family: inherit;
}

.siteNav p
{
    font-size: medium;
    font-weight: bold;
    color: Black !important;
}

.siteNav nav > a
{
    color: #2a5db0 !important;
}

footer
{
    background-color: #DCDCDC !important;
}
.footerInfo
{
    color: Black !important;
}

.footerInfo .logo
{
    font-size: 30px;
    font-family: initial;
}

#userOptions
{
    display: none;
}

.ui-dialog-titlebar
{
    display: none;
}

.labelForScreenReader
{
    position: absolute;
    left: -100%;
    text-indent: -500px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    padding: 0 !important;
    color: #f9fcfc !important;
    background-color: #0f6db7 !important;
    display: none;
}
.searchTextBox
{
    border-radius: 0px;
    margin-left: -1px;
}

.searchTypeContentPadding
{
    padding-right: 10px;
    padding-left: 10px;
}

.searchButton
{
    height: 47px;
    width: 80px;
    margin-left: -5px;
}
#mobileSearchTypeText
{
    padding-right: 5px;
}
.searchButtonMobile
{
    float: right;
    border: 1px solid #1474C8;
    background-color: #1474C8;
    color: White;
}
.mobileSearchtypeLink
{
    height: 32px;
    background-color: #EEE;
    padding-top: 4px !important;
}
#selectedVal
{
    color: #787878;
    font-weight: bold;
}
.mobleAdvanceSearch
{
    padding-right: 20px;
}
.advanceSearch
{
    font-size: 11pt;
    color: White !important;
}
a.advanceSearch:focus
{
    color: #FFF !important;
}
a.advanceSearch:hover
{
    color: #FFF !important;
}

#mobileSearchtypeLink, #searchTextBoxLink
{
    background-color: transparent !important;
}
.caretSearchType
{
    margin-left: 5px !important;
    color: #787878;
}

#searchButtonGO:focus
{
    color: #FFF !important;
    background-color: #1474C8;
}
#searchButtonGO:hover
{
    color: #FFF !important;
    background-color: #1474C8;
}
#searchTypeDesktop:focus
{
    background-color: #1474C8;
}
#searchTypeDesktop:hover
{
    background-color: #EEE;
}

#btnSearchMobile
{
    color: #FFF;
}

#btnSearchMobile:focus
{
    background-color: #1474C8;
}
#btnSearchMobile:hover
{
    background-color: #1474C8;
}

#mobileSearchType:focus
{
    background-color: #EEE;
}
#mobileSearchType:hover
{
    background-color: #EEE;
}
.navbarOverride
{
    margin-bottom: 0px !important;
    margin-right: -15px !important;
    border-radius: 0px !important;
}
.product-name
{
    padding: 18px 12px 12px 12px !important;
}
.mobileTypeAhead
{
    margin-top: 5px !important;
    height: 40px;
}

/*#divMyBip
{
    height: 560px;
    width: 740px;
}*/
.headermarginclass
{
    margin-bottom: 0px;
}
.fontsize
{
    font-size: 25px;
}
.searchtypeclass
{
    padding-top: 10px !important;
    padding-bottom: 15px !important;
}
.mobilesearchheight
{
    height: 40px;
    margin-bottom: -3px;
}
.fontsizesearch
{
    font-size: 24px;
}
.proquest_logo
{
    width: 134px;
}
.row
{
    margin-left: 0px;
    margin-right: 0px;
}
.embed-responsive.embed-responsive-16by9
{
    padding-bottom: 70.25%;
}
.surverylink
{
    padding-left: 10%;
}
@media (min-width: 600px)
{
    .searchCenterMobile
    {
        margin-left: 40px !important;
    }
}
