.RemoveMarginTopXS
{
    margin-top: 0px !important;
}

.hiddenContentMarginXS
{
    /*margin-left:15px !important;*/
}


.selectedItemsOptionsDropDown
{
    right: auto !important;
}

.removePadding
{
    padding-left: 20px !important;
    padding-right: 10px !important;
}


.contentAlignment
{
    padding-left: 15px;
}

.contentSplitterRow
{
    border-bottom: 2px solid #D0D0D0;
    padding-bottom: 8px;
}
.displayAlingment
{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.ShowRefineSectionsInTab
{
    margin-left: -350px !important;
    box-shadow: 10px 10px 5px #888888;
    transition-duration: 3s;
}
.coverImage
{
    width: 100px;
    height: 138px;
}

.alignTopMargin
{
    margin-top: 20px;
}

.dl-horizontal
{
    margin-bottom: 0px !important;
}

.btnCompareBuy
{
    color: white;
    background-color: #428bca;
    border-color: #428bca;
    border-radius: 0px !important;
}

.btnSaveMyBIp
{
    width: 136px;
    margin-top: 10px;
}

.socialLogoImages
{
    margin-top: 10px;
}

.glyphiconStyle
{
    color: #428bca;
    margin-top: 5px;
    font-size: 17px;
    margin-bottom: 5px;
}

.srch-rslts-itms-even
{
    background-color: rgb(244, 244, 244);
    margin-top: 10px;
    margin-bottom: 10px;
}

.customHidden
{
    display: none;
}


.panel-header
{
    clear: both;
    width: 100%;
    padding-bottom: 10px;
}

.page-header
{
    padding-bottom: 0px;
    margin: 15px 0 14px;
    border-bottom: 2px solid #d0d0d0;
}

#filter-column-container
{
    background: #edebeb;
    padding: 15px;
    float: left;
    width: 100%;
}

#filter-column .page-header
{
    margin-bottom: 0px;
    width: 100%;
}

.ContentInnerCollapse
{
    cursor: pointer;
    color: rgb(51, 102, 153);
    text-decoration: none !important;
}

.glyphiconColor
{
    color: #787878 !important;
}

.glyphiconRemoveColor
{
    color: #edebeb;
    background-color: #428bca;
}

#divSelectedCount
{
    color: #2A5DB0;
    font-size: 15px;
    margin-left: -15px;
    display: inline;
}


@media (min-width:768px)
{
    .coverImage
    {
        width: 130px;
        height: 200px;
    }

    .dl-horizontal dt
    {
        width: auto !important;
    }

    #toggleRefineSections
    {
        float: right !important;
        margin-right: -20px;
    }

    .contentAlignment
    {
        padding-left: 10px;
    }


}

@media (min-width:992px)
{
    .coverImage
    {
        width: 130px;
        height: 200px;
    }

    .dl-horizontal dt
    {
        width: auto !important;
    }
    .contentAlignment
    {
        padding-left: 10px;
    }
}

@media (min-width: 1200px)
{
    .coverImage
    {
        width: 130px;
        height: 200px;
    }

    .dl-horizontal dt
    {
        width: auto !important;
    }

    #facetsSection
    {
        margin-top: -50px;
    }

}


@media (max-width:768px)
{

    .dl-horizontal dt
    {
        float: left;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .customHidden .dl-horizontal dd
    {
        margin-left: 125px;
    }

    .row.srch-rslts-itms-even.customHidden
    {
        margin-top: -10px;
    }

    #divSelectedCount
    {
        color: #2A5DB0;
        font-size: 15px;
        margin-left: 91px;
        display: inline;
    }

    #selectedItemsOptions
    {
        display: inline !important;
    }
    .contentAlignment
    {
        padding-left: 10px;
    }
}


@media (max-width:767px)
{
    #divSelectedCount
    {
        color: #2A5DB0;
        font-size: 15px;
        margin-left: -15px !important;
        display: inline;
    }

    #toggleRefineSectionsMobile
    {
        float: right !important;
    }
    .dl-horizontal dt
    {
        width: auto;
    }
    .hiddenContentwidth
    {
        text-align: left !important;
        width: 46% !important;
    }

    .dl-horizontal dt
    {
        float: left;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .contentAlignment
    {
        padding-left: 5px;
    }
    .removePadding
    {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.PaginationLink
{
    margin: 0px 0px 0px 0px;
    cursor: pointer;
}
.PaginationControls
{
    visibility: hidden;
}
.PaginationContent
{
    text-align: center;
}
.innerlist
{
    border-collapse: collapse;
    margin-left: 0px;
    margin-top: 2px;
    width: 100%;
}
.innerlist td
{
    padding: 0;
    padding-right: 1em;
    vertical-align: top;
}

.selectedcountClass
{
    padding-left: 15px !important;
}
.AddtoListClass
{
    padding: 6px 6px !important;
}
.listclass
{
    width: 100% !important;
}
.characterProfile span
{
    color: #0073AC;
    font-size: 12pt;
    font-weight: bold;
    line-height: 200%;
}
.wordwrap
{
    overflow-wrap: break-word;
    word-wrap: break-word;
}
@media (min-width: 1200px)
{
    .container
    {
        width: 1270px;
    }

}
.row
{
    margin-left: -15px;
    margin-right: -15px;
}
.actionBtn:focus
{
    background-color:#D6D6D6 !important;
}